node_modules
.env
hardhat.config.ts

# Hardhat files
/cache
/ignition
*Lock*
*HelloWorld*

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
# ignition/deployments/chain-31337

# Exceptions: https://stackoverflow.com/a/16318111/946957
artifacts/*
!artifacts/contracts

artifacts/contracts/*
!artifacts/contracts/Ballot.sol

artifacts/contracts/Ballot.sol/*
!artifacts/contracts/Ballot.sol/Ballot.json

# Personal Files and Notes
*.txt
